<div class="row">
	<div class="col-12 col-lg-6 px-4 pb-4 px-md-0 pe-lg-4">
		<h1 class="text-primary fw-bold mb-4">
			IT-Gewinnspiel
		</h1>

		<p class="text-justify">
			Als studentische Unternehmensberatung kommt auch JMS Augsburg wie wohl jede
			(mittel)große Beratung nicht darum herum, ein eigenes IT-Team zu haben.
			Zusammen halten wir in diesem Team die eigene IT-Infrastruktur am Laufen
			und entwickeln neue digitale Lösungen für den Verein - wodurch wir nebenbei
			auch unsere eigenen Skills durch praktische Erfahrungen weiterentwickeln.
		</p>
		<p class="text-justify">
			Getreu dem Motto <em>sharing is caring</em> möchten wir unsere Begeisterung
			für Technologie mit euch teilen und einen kleinen Einblick in unsere Arbeit geben.
			Dazu haben wir mit dieser Seite ein kleines Gewinnspiel aufgesetzt, um spannende
			Hardware zu verlosen und <em>deine</em> IT-Skills herauszufordern!
		</p>
		<p class="text-justify">
			Mehr Infos zu JMS findest du
			<a href="https://jms-augsburg.de/" target="_blank" class="d-inline-block">
				auf unserer Homepage
			</a>
			und bei unserem
			<a href="https://jms-augsburg.de/studierende/#:~:text=Infoabend." target="_blank" class="d-inline-block">
				Infoabend am 25.10.2023 um 19:30 Uhr
			</a>
			in der Uni Augsburg.
		</p>
	</div>
	<div class="col-12 col-lg-6 p-0 position-relative hero">
		<img src="/images/hero1.jpg" alt="" class="position-absolute w-100 h-100 object-fit-cover">
	</div>
</div>

<div class="row">
	<div class="col-12 col-lg-6 p-0 position-relative hero order-1 order-lg-0">
		<img src="/images/hero2.jpg" alt="" class="position-absolute w-100 h-100 object-fit-cover">
	</div>
	<div class="col-12 col-lg-6 p-4 px-md-0 ps-lg-4">
		<h2 class="text-primary">Was gibt es zu gewinnen?</h2>
		<p>
			Insgesamt verlosen wir zwei spannende Gewinne:<br>
			<ul>
				<li>
					1x
					<a href="https://store.arduino.cc/products/arduino-starter-kit-multi-language" target="_blank">
						Arduino K000007 Starter Kit
					</a>
				</li>
				<li>
					1x
					<a href="https://www.yubico.com/de/product/yubikey-5-series/yubikey-5c-nfc/" target="_blank">
						YubiKey 5C NFC
					</a>
				</li>
			</ul>
		</p>

		<h2 class="text-primary">Wie kann ich teilnehmen?</h2>
		<p class="text-justify">
			Um am Gewinnspiel teilzunehmen, musst du dich einfach nur mit Namen und E-Mail
			hier unten eintragen; <em>eigentlich</em> ganz einfach, oder? <!-- not! -->
			<i class="bi-emoji-wink-fill text-secondary"></i>
		</p>
		<p class="text-justify">
			Aus allen, die es <em>erfolgreich geschafft</em> haben, sich einzutragen, werden
			bei unserem Infoabend dann zwei Gewinner zufällig gezogen.
			Der erste Gewinner kann sich dabei einen der Preise aussuchen.
		</p>
		<p class="text-justify">
			Der Gewinn kann jedoch nur vorort eingelöst werden, verpasse also nicht
			<a href="https://jms-augsburg.de/studierende/#:~:text=Infoabend." target="_blank" class="d-inline-block">
				unseren Infoabend am 25.10.
			</a>!
		</p>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col col-lg-8">
		<div class="card my-4">
			<div class="card-body">
				<p>
					Trage dich nun hier ein, um am Gewinnspiel teilzunehmen.<br>
					Den Code zu diesem Formular findest du auf unserer
					<a href="/code" target="_blank" class="d-inline-block">
						<i class="bi-github"></i>
						GitHub-Seite
					</a>.
				</p>
				<form action="/submit" method="post">
					<input type="hidden" name="randomVal" value="{{ randomVal }}">

					<div class="mb-3">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" required class="form-control"/>
					</div>

					<div class="mb-3">
						<label for="email">E-Mail</label>
						<input type="email" id="email" name="email" required class="form-control"/>
						<small class="text-muted">
							Uni-/Hochschul-E-Mail-Adresse
						</small>
					</div>

					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" id="tos_consent" name="tos_consent" value="true" required>
						<label class="form-check-label" for="tos_consent">
							Ich habe die
							<a href="#tos-modal" data-bs-toggle="modal">Teilnahmebedingungen</a>
							gelesen und stimme ihnen zu
						</label>
					</div>

					<button type="submit" class="btn btn-primary">
						<i class="bi-send-fill"></i>
						Absenden
					</button>

					<div id="tos-modal" class="modal fade" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Teilnahmebedingungen</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
								</div>
								<div class="modal-body">
									<h3>§ 1 Veranstalter</h3>
									<ol>
										<li>
											Veranstalter des Gewinnspiels ist JMS Augsburg e. V., vertreten durch den Vorstand Bettina Höfle, Ole Hänsel
											und Jonas Dröse.
										</li>
										<li>
											Dieses Gewinnspiel steht in keinem Zusammenhang mit Instagram oder einem anderen Social Media Anbieter, auf
											dem dieses Gewinnspiel gegebenenfalls bekannt gegeben wird.
										</li>
									</ol>

									<h3>§ 2 Gewinnspiel</h3>
									<ol>
										<li>
											Der Veranstalter veranstaltet ein Gewinnspiel. Zu diesem Zweck hat er einen oder mehrere Preise
											bereitgestellt und wird diese nach Maßgabe der folgenden Bedingungen an den oder die Gewinner ausgeben.
										</li>
										<li>
											Die Teilnahme setzt nicht den Erwerb einer Ware oder Dienstleistung voraus.
										</li>
									</ol>

									<h3>§ 3 Teilnahme</h3>
									<ol>
										<li>
											Der Teilnehmer nimmt an dem Gewinnspiel teil, indem er die Teilnahmebedingungen erfüllt. Dies ist
											insbesondere die ordnungsgemäße Ausfüllung des Teilnahme-Formulars. Es kann sich auch um weitere Bedingungen
											handeln, die der Veröffentlichung des Gewinnspiels zu entnehmen sind (etwa Erfüllung bestimmter Aufgaben).
										</li>
										<li>
											Die Teilnahme an dem Gewinnspiel ist kostenlos. Für die Teilnahme müssen keine kostenpflichtigen Dienste in
											Anspruch genommen werden.
										</li>
										<li>
											Teilnehmer ist immer nur eine bestimmte natürliche Person, juristische Personen können nicht teilnehmen.
											Eine mehrfache Teilnahme etwa unter Pseudonym oder weiteren E-Mail- Adressen ist ausgeschlossen und führt
											zum Ausschluss vom Gewinnspiel.
										</li>
										<li>
											Die Voraussetzungen der Teilnahme müssen während der Dauer des Gewinnspiels erfüllt und an den Veranstalter
											auf dem angebotenen Weg übermittelt sein. Eine Teilnahme auf anderem Weg als dem für die Teilnahme
											angebotenen (z.B. andere E-Mail-Adresse des Veranstalters) ist ausgeschlossen und wird nicht berücksichtigt.
											Vorher oder hinterher abgegebene Teilnahme-Bewerbungen werden nicht berücksichtigt.
										</li>
										<li>
											Eine Teilnahme durch beschränkt geschäftsfähige Minderjährige ist erst ab Vollendung des 14. Lebensjahres
											und nur mit Einwilligung ihrer gesetzlichen Vertreter möglich.
										</li>
									</ol>

									<h3>§ 4 Gewinn</h3>
									<ol>
										<li>
											Die Gewinner werden an unserem Infoabend am 25. Oktober 2023 (Beginn: 19:30 Uhr) im Raum K 1001 per
											Zufallsprinzip (Losverfahren) ausgewählt.
										</li>
										<li>
											Der Anspruch auf den Gewinn kann nicht abgetreten werden und ist nicht übertragbar; darüber hinaus ist der
											Gewinn weder auszahlbar noch ergänz- oder änderbar. Sollte der Gewinn, gleich aus welchem Grund, nicht zur
											Verfügung gestellt werden können, behält der Veranstalter sich das Recht vor, einen gleichwertigen
											Ersatzpreis zu vergeben.
										</li>
										<li>
											Ein Anspruch auf Leistung besteht nicht.
										</li>
									</ol>

									<h3>§ 5 Vorzeitige Beendigung bzw. Abbruch des Gewinnspiels</h3>
									<ol>
										<li>
											Der Veranstalter ist berechtigt, das Gewinnspiel vorzeitig abzubrechen, auszusetzen oder zu verändern, wenn
											unvorhergesehene, außerhalb des Einflussbereichs des Veranstalters liegende Umstände eintreten, die die
											ursprüngliche Durchführung erschweren oder für den Veranstalter unzumutbar machen.
										</li>
										<li>
											Hierzu gehören insbesondere, jedoch nicht abschließend, das nicht gestattete Eingreifen Dritter, technische
											Probleme mit Hard- und Software, die außerhalb des Machtbereichs des Veranstalters liegen, sowie
											Rechtsverletzungen, die im unmittelbaren Zusammenhang mit der Durchführung des Gewinnspiels stehen, hier
											insbesondere das manipulative Eingreifen in den Ablauf des Gewinnspiels.
										</li>
									</ol>

									<h3>§ 6 Rechtsweg und Datenschutz</h3>
									<ol>
										<li>
											Der Rechtsweg ist ausgeschlossen.
										</li>
										<li>
											Wir erheben, speichern und verarbeiten personenbezogene Daten zur Durchführung und Abwicklung des
											Gewinnspiels und um Sie im Falle eines Gewinns zu benachrichtigen. Sie können die Einwilligungen jederzeit
											durch Nachricht an uns widerrufen. Einzelheiten zur Art und dem Umfang der Datenverarbeitung entnehmen Sie
											bitte unserer ausführlichen Datenschutzerklärung:
											<a href="https://jms-augsburg.de/datenschutz/" target="_blank">https://jms-augsburg.de/datenschutz/</a>
										</li>
									</ol>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
