<h1>JMS Gewinnspiel</h1>

<h2>Was gibt es zu gewinnen?</h2>
<p>
	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque consectetur,
	quam ratione ipsam aperiam exercitationem, ex ipsum asperiores suscipit, amet
	aspernatur expedita blanditiis maxime possimus error illo quod aliquid nemo
	quas inventore vitae quos sed ea veniam. Aperiam, molestiae doloremque.
</p>

<h2>Wer kann mitmachen?</h2>
<p>
	Dieses Gewinnspiel richtet sich an IT-Studenten und alle IT-affine.
	Mitmachen darf aber jeder!
</p>

<h2>Wie kann ich teilnehmen?</h2>
<p>
	Um am Gewinnspiel teilzunehmen, musst du dich einfach nur mit Namen und E-Mail
	hier unten eintragen.
</p>
<p>
	Aus allen, die es geschafft haben, sich erfolgreich einzutragen, werden bei
	unserem Infoabend dann zwei Gewinner zufällig gezogen.
	Der Gewinn kann jedoch nur vorort eingelöst werden, verpasse also nicht
	<a href="https://jms-augsburg.de/studierende/#:~:text=Infoabend.">unseren Infoabend</a>!
</p>
<p>
	Den Code zu dieser Seite findest du außerdem
	<a href="/code" target="_blank">hier</a>.
	<i class="bi-emoji-wink-fill text-secondary"></i>
</p>

<form action="/submit" method="post">
	<input type="hidden" name="randomVal" value="{{ randomVal }}">

	<div class="mb-3">
		<label for="name">Name</label>
		<input type="text" id="name" name="name" required class="form-control"/>
	</div>

	<div class="mb-3">
		<label for="email">E-Mail</label>
		<input type="email" id="email" name="email" required class="form-control"/>
	</div>

	<button type="submit" class="btn btn-primary">
		<i class="bi-send-fill"></i>
		Absenden
	</button>
</form>
