<form action="/winner" method="post">
	<input type="hidden" name="place" value="1">

	<div class="mb-3">
		<label for="password">Passwort</label>
		<input type="password" name="password" id="password" class="form-control" required>
	</div>

	<button type="submit" class="btn btn-primary">
		<i class="bi-trophy-fill"></i>
		Gewinner anzeigen
	</button>
</form>
